---
// Mobile bottom navigation component
---

<nav id="mobileNav" class="mobile-nav hidden">
  <button id="navHome" title="Home">Home</button>
  <button id="navSearch" title="Search">Search</button>
</nav>
