---
// Sidebar navigation component
---

<aside class="sidebar" id="sidebar">
  <section id="side-main">
    <h1>𝚺 Music</h1>
    <button id="sideHome">Home</button>
    <button id="sideSearch">Search</button>
    <button id="queueSidebarBtn">Queue</button>
    <br />
  </section>
  <section id="side-playlists">
    <h1>Playlists</h1>
    <section id="playlists"></section>
    <button id="sideNewPlaylist">+ New Playlist</button>
  </section>
  <section id="side-pinned">
    <h1>Pinned</h1>
    <section id="pinned"></section>
  </section>
</aside>
